<% if (isLoggedIn) { %>
  <!-- Show logged-in (admin) header -->
  <header>
    <h1>Welcome back, User!</h1>
    <nav>
      <ul>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
<% } else { %>

  <!-- Login form -->
  <div class="log-in">
    <h3>Sign In</h3>
    <a href="/register" class="<%= isActiveRoute('/register', currentRoute) %>">No Account? Register Here</a>
    <br><br>
    <form  id="loginForm" action="/log-in" method="POST">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username">

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">

      <input type="submit" value="Login" class="btn">
    </form>
  </div>
 
<% } %>
<script>
  document.getElementById('loginForm').addEventListener('submit', async function(event) {
    event.preventDefault(); // Prevent default form submission

    const formData = new FormData(this);
    const data = {
      username: formData.get('username'),
      password: formData.get('password')
    };

    try {
      const response = await fetch('/log-in', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });

      if (response.status === 401) {
        const result = await response.json();
        alert(result.message);
      } else if (response.ok) {
        window.location.href = '/';
      } else {
        alert('An error occurred. Please try again.');
      }
    } catch (error) {
      alert('Server error. Please try again later.');
    }
  });
</script>