<header class="header">
  <a href="/" class="header__logo">MMA<br>OMEN</a>

  <div class="header__button">
    <div class="searchBtn">
      <div class="container">
        <form action="/search" method="POST" class="search__form" role="search">
          <input 
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search the site..."
          >
        </form> 
      </div>
    </div>
    <a href="/dashboard" class="<%= isActiveRoute('/forum', currentRoute) %>">Profile</a>
    <a href="/forum" class="<%= isActiveRoute('/forum', currentRoute) %>">Forum</a>
    <a href="/logout">
      Logout
    </a>
  </div>

</header>