<header class="header">
  <a href="/" class="header__logo">MMA OMEN</a>
  
  <div class="header__button">
    <div class="searchBtn">
      <div class="container">
        <form action="/search" method="POST" class="search__form" role="search">
          <input 
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search the site..."
          >
        </form> 
      </div>
    </div>
    
     

        <a href="/log-in" class="<%= isActiveRoute('/log-in', currentRoute) %>">Log In</a>
  </div>

</header>