<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Stay updated with the latest MMA news, events, and highlights from UFC, Bellator, ONE Championship, and more.">
  <meta name="keywords" content="MMA, UFC, Bellator, ONE Championship, PFL, Boxing, Kickboxing, Muay Thai, Jiu-Jitsu, Wrestling">
  <meta name="author" content="MMA OMEN">
  <meta property="og:title" content="MMA OMEN - Latest MMA News and Updates">
  <meta property="og:description" content="Discover the latest news, fight highlights, and articles from the world of MMA, including UFC, Bellator, and more.">
  <meta property="og:image" content="/path/to/og-image.jpg"> <!-- Update with actual image path -->
  <meta property="og:url" content="https://www.yourmmablog.com"> <!-- Update with actual URL -->
  <title>MMA OMEN</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" defer src="/js/script.js"></script>
<body>
    
  <div class="container">
    <%- include('../partials/header_loggedin.ejs')  %>
    <main class="main">
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs')  %>
  </div>  

</body>
</html>