@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #747474;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --main-orange: #FF652F;
  --main-yellow: #FFE400;
  --main-teal: #14A76C;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--gray);
  font-size: var(--font-size-base);
  background-color: #272727;
  margin: 0;
}

a { color: var(--gray-light); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}


img {
  width: 100%;
  height: auto;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 75px 0;
}

/* Hero Section */
.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}


/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding: 10px 10px 20px 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header__logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
  color: var(--main-teal);
}

.header__logo:hover {
  text-decoration: underline;
  color: var(--main-yellow);
}

.header__nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}

.header__logo, .header__nav, .header__button {
  width: 100%;
}

.header__button, .header__button a {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header__button button, .header__button a {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
}

.header__button button:hover {
  border: 2px solid var(--black);
}

/* Header -> Navigation */
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header__nav ul a.active {
  color: #7E7E7E;
}

.header__nav ul a:hover {
  text-decoration: underline;
}
/* Category Posts - HomePage */

.category-columns {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.column-first, .column-second {
  width: 48%;
  background-color: var(--gray);
  border-radius: 10px;
}

.column-first h2, .column-second h2{
  text-align: center;
  color: var(--main-yellow);
  background-color: var(--gray);
  margin-bottom: 0;
}

.category-columns ul {
  list-style-type: none;
  padding: 0;
}

.category-columns li {
  margin-bottom: 20px;
}

.category-columns .full-width-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover; 
  margin-bottom: 10px;
}

.category-columns .post-split {
  display: flex;
  gap: 15px;
}

.category-columns .left-image {
  width: 150px;
  height: auto;
}

.category-columns .split-content, .category-columns .split-content a {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
}



.category-columns .post-date, .category-columns .post-featured p {
  color: var(--main-orange);
  font-size: 0.9em;
}

.category-columns .post-featured h3 a{
  font-size: 18px;
}

.category-columns .post-featured h3 {
  text-align: center;
  padding: 10px 20px;
}

.category-columns .post-featured{
  background-color: var(--gray);
}

.category-post-meta{
  text-align: center;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
}

.category-post-meta p{
  padding-right: 5px;
  padding-left: 5px;
}

/* Author - HomePage */
.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}


/* Home Article List */
.articles__heading {
  margin-top: 4rem;
  font-weight: 400;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--main-yellow);
  font-weight: bold
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}


.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 8px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  filter: none;
}


.article-ul:hover li:hover {
  filter: none;
}


.article {
  white-space: pre-wrap;
}


/* Footer */
footer{
  text-align: center;
  padding: 20px;
  margin: 40px 10px;
}


/* Log In */
.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  color: var(--gray-light);
  background-color: var(--gray);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.log-in a {
  background-color: var(--gray);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 40px;
  text-align: center;
  width: 80%;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid var(--gray-light);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.log-in a:hover {
  background-color: var(--gray-dark);
  transform: translateY(-3px);
}

.log-in form {
  width: 100%;
}

.log-in form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  font-size: 16px;
  background-color: #FFF;
  color: #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.log-in form input:focus {
  border-color: var(--primary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.log-in .btn {
  background-color: var(--primary);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.log-in .btn:hover {
  background-color: var(--primary-dark);
  transform: translateY(-3px);
}

.log-in .btn:active {
  transform: translateY(0);
}

/* Register Form  */
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  color: var(--gray-light);
  background-color: var(--gray);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.register-form a {
  background-color: var(--gray);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 40px;
  text-align: center;
  width: 80%;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid var(--gray-light);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-form a:hover {
  background-color: var(--gray-dark);
  transform: translateY(-3px);
}

.register-form form {
  width: 100%;
}

.register-form form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  font-size: 16px;
  background-color: #FFF;
  color: #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.register-form form input:focus {
  border-color: var(--primary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.register-form .btn {
  background-color: var(--primary);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-form .btn:hover {
  background-color: var(--primary-dark);
  transform: translateY(-3px);
}

.register-form .btn:active {
  transform: translateY(0);
}

/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100px);
  background-color: var(--black);
  padding: 4px 0;
  position: absolute;
  left: 0;
  right: 0;
}

#searchInput {
  margin: 0;
  border-radius: 10px;
  padding: 5px 20px;
}

.searchBtn svg{
  position: absolute;
  top: 20px;
  right: 120px;
}


/* Pagintation */
.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}


.post-meta, .post-title{
  text-align: center;
}

/* Latest Post */
.latest-post img {
  width: 35%;
  height: 35%;
}

.latest-post .article-item{
  display: flex;
  flex-direction: row;
}

.latest-post .article-list__excerpt{
  font-size: 18px;
  font-weight: 500;
}

.latest-post .article-list__date, .latest-post .article-list__author{
  font-size: 14px;
}

.latest-post .article-details{
  padding-left: 20px;
}

.latest-post h3{
  font-size: 18px;
  font-weight: bold
}

.latest-post .article-list__excerpt, .latest-post .article-list__excerpt strong, .latest-post  p{
  font-size: 14px;
  font-weight: 400;
}