@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #747474;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --main-orange: #FF652F;
  --main-yellow: #FFE400;
  --main-teal: #14A76C;
  --background: #222831;
  --secondary-color: #31363F;
  --highlight-text: #EEEEEE;
  --highlight-heading: #76ABAE;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
  --object-border: #76ABAE 3px solid;
  --ptSanes:  "PT Sans", sans-serif;
  --agdasimaFont: "Agdasima", sans-serif;
}

body {
  font-family: var(--ptSanes);
  color: var(--gray);
  font-size: var(--font-size-base);
  background-color: var(--background);
  margin: 0;
}

.home{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
}

a { color: var(--highlight-text);
    font-family: "Agdasima";
    font-size: 20px;
  }

h1 { 
  font-size: var(--font-size-xl);
  font-family: "Agdasima", sans-serif;
  color: var(--highlight-heading);
}

h2 { 
  font-size: var(--font-size-lg);
  font-family: "Agdasima", sans-serif;
  color: var(--highlight-heading);
}
h3 {
  font-size: var(--font-size-md);
  font-family: "Agdasima", sans-serif;
  color: var(--highlight-heading);
}

strong{
  font-family: "Agdasima", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: var(--ptSanes);
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}


img {
  width: 100%;
  height: auto;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.container main{
  border-radius: 10px;
}

.container .post-image{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: var(--border-radius);
}

.post-info {
  padding-bottom: 10px;
  border-bottom: var(--gray) 2px solid;
}

.container .post-image img {
  border-radius: var(--border-radius);
}

.post-page {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.post-page .post-content{
  width: 80%;
  border: var(--object-border) !important;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.post-page .post-image{
  margin: 0 !important;
}

.post-page .comment-section{
  border-top: #76ABAE 2px solid;
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
}

.post-page .comment-section a{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--highlight-heading);
  text-transform: uppercase;
}
.container main article{
  color: var(--highlight-text);
  background-color: var(--secondary-color);
}

.post-page article p, .post-page article iframe, .post-page article strong, .post-page article h1, .post-page article h2, .post-page article h3{
  padding: 0px 20px;
}

/* Hero Section */
.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}


/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding: 10px 10px 20px 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header__logo {
  font-weight: 800;
  font-size: 45px;
  text-decoration: none;
  grid-area: logo;
  color: var(--highlight-heading);
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;

}

.header__logo:hover {
  text-decoration: underline;
  color: var(--main-yellow);
}

.header__nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}

.header__logo, .header__nav, .header__button {
  width: 100%;
}

.header__button, .header__button a {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header__button button, .header__button a {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 20px;
  font-weight: 600;
  color: var(--highlight-text);
  text-transform: uppercase;
  text-decoration: none;
  
}

.header__button button:hover {
  border: 2px solid var(--black);
}

/* Header -> Navigation */
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header__nav ul a.active {
  color: #7E7E7E;
}

.header__nav ul a:hover {
  text-decoration: underline;
}

/* Featured Posts - HomePage */

.featured-posts{
  display: flex;
  flex-direction: row;
}

.home-content{
  width: 80%;
  border-radius: var(--border-radius);
}

.featured-post{
  position: relative;
  display: inline-block;
  width: 50%;
  border: var(--object-border) !important;
}

.featured-image {
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  text-align: center;
}

.overlay-text h2 {
  font-size: 24px;
  margin: 0;
}

.overlay-text a {
  color: white;
  text-decoration: none;
}

.overlay-text a:hover {
  text-decoration: underline;
}

.overlay-text .post-date {
  font-size: 14px;
  margin-top: 10px;
  color: #ddd;
}

/* Category Posts - HomePage */
.category-columns {
  display: flex;
  justify-content: center;
  max-height: 250px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-split {
  position: relative;
  overflow: hidden;
  border: var(--object-border) !important;
}

.grid-image {
  width: 100%;
  height: 100%;
}

.post-overlay {
  position: relative;
  height: 100%;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.overlay-text h3 {
  margin: 0;
  font-size: 18px;
}

.overlay-text a {
  color: white;
  text-decoration: none;
}

.overlay-text a:hover {
  text-decoration: underline;
}

.overlay-text .post-date {
  font-size: 14px;
  margin-top: 5px;
  color: #ddd;
}

/* Author - HomePage */
.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 5px;
 
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}


/* Home Article List */
.articles__heading {
  font-size: 2em;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
  font-weight: bold;
  margin: 0;
  border: var(--object-border);
  border-radius: var(--border-radius);
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}


.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 8px 0;
}


.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  filter: none;
}


.article-ul:hover li:hover {
  filter: none;
}


.article {
  white-space: pre-wrap;
}


/* Footer */
footer{
  text-align: center;
  padding: 20px;
  margin: 40px 10px;
}


/* Log In */
.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  color: var(--gray-light);
  background-color: var(--secondary-color);
  padding: 40px;
  border: var(--object-border);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.log-in label{
  padding: 15px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--highlight-heading);
}

.log-in a {
  background-color: var(--gray);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 40px;
  text-align: center;
  width: 80%;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid var(--gray-light);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.log-in a:hover {
  background-color: var(--gray-dark);
  transform: translateY(-3px);
}

.log-in form {
  width: 100%;
}

.log-in form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 10px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  font-size: 16px;
  background-color: #FFF;
  color: #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.log-in form input:focus {
  border-color: var(--primary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.log-in .btn {
  background-color: var(--primary);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.log-in .btn:hover {
  background-color: var(--primary-dark);
  transform: translateY(-3px);
}

.log-in .btn:active {
  transform: translateY(0);
}

/* Register Form  */
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  color: var(--gray-light);
  background-color: var(--secondary-color);
  padding: 40px;
  border: var(--object-border);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.register-form label{
  padding: 15px;
text-align: center;
width: 100%;
text-transform: uppercase;
font-size: 20px;
color: var(--highlight-heading);
}


.register-form a {
  background-color: var(--gray);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 40px;
  text-align: center;
  width: 80%;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid var(--gray-light);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-form a:hover {
  background-color: var(--gray-dark);
  transform: translateY(-3px);
}

.register-form form {
  width: 100%;
}

.register-form form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  font-size: 16px;
  background-color: #FFF;
  color: #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.register-form form input:focus {
  border-color: var(--primary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.register-form .btn {
  background-color: var(--primary);
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-form .btn:hover {
  background-color: var(--primary-dark);
  transform: translateY(-3px);
}

.register-form .btn:active {
  transform: translateY(0);
}

/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100px);
  background-color: var(--black);
  padding: 4px 0;
  position: absolute;
  left: 0;
  right: 0;
}

#searchInput {
  margin: 0;
  border-radius: 10px;
  padding: 5px 20px;
}

#searchInput::placeholder{
  text-transform: uppercase;
  font-family: "Agdasima", sans-serif;
}


/* Pagintation */
.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}


.post-meta, .post-title{
  text-align: center;
}

/* Latest Post */
.latest-post img {
  width: 35%;
  height: 35%;
}

.latest-post .article-item{
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: var(--object-border);
}

.latest-post .article-list__excerpt{
  font-size: 18px;
  font-weight: 500;
}

.latest-post .article-list__date, .latest-post .article-list__author{
  font-size: 14px;
}

.latest-post .article-details{
  padding-left: 20px;
}

.latest-post h3{
  font-size: 30px;
  font-weight: 600 !important;
  color: var(--highlight-heading);
}

.latest-post .article-list__excerpt, .latest-post .article-list__excerpt strong, .latest-post  p{
  font-size: 12px;
  font-weight: 400;
  color: var(--highlight-text);
}


/* Container for the entire comments section */
.comments-section {
  width: 80%;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-top: 30px;
  border: var(--object-border);
}

/* Section Heading */
.comments-section h2 {
  font-size: 1.8rem;
  color: var(--highlight-heading);
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* Comments List */
.comments-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}

/* Individual Comment */
.comments-list li {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comments-list li strong {
  display: block;
  font-size: 1.1rem;
  color: var(--main-teal);
}

.comments-list li small {
  display: block;
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 10px;
}

.comments-list li p {
  font-size: 1rem;
  color: #444;
  margin: 0;
  line-height: 1.5;
}

/* Comment Form */
.comments-section form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comments-section form div {
  margin-bottom: 15px;
}

.comments-section form label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.comments-section form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: vertical;
}

.comments-section form button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--gray);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comments-section form button:hover {
  background-color: #0056b3;
}

/* Responsiveness */
@media (max-width: 768px) {
  .comments-section {
    width: 95%;
  }

  .comments-section h2 {
    font-size: 1.5rem;
  }

  .comments-section form textarea {
    height: 80px;
  }
}


/* Basic styles for the contact page */
.contact-container {
  width: 50%;
  margin: 50px auto;
  background-color:  var(--gray-light);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-container .form-group {
  margin-bottom: 20px;
}

.contact-container .form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
}

.contact-container .form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.contact-container button[type="submit"] {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--gray);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-container button[type="submit"]:hover {
  background-color: #0056b3;
}


/* Sidebar */
.sidebar {
  width:  25%;
  padding: 20px;
  height: 100%;
  border: var(--object-border);
  background-color: var(--secondary-color);
  border-radius: 5px;
}
.sidebar-section {
  margin-bottom: 20px;
}
.sidebar-section h3 {
  font-size: 2em;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.sidebar-section ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-section .recent-posts li{
  border-bottom: var(--gray) 1px solid;
  padding-bottom: 10px;
}

.sidebar-section .sports-list a{
  font-size: 20px;
}

.sidebar-section .sports-list li{
  padding-top: 10px;
  border-bottom: var(--gray) 1px solid;
  padding-bottom: 10px;
}

.sidebar-section .categories-list a{
  font-size: 20px;
}

.sidebar-section .categories-list li{
  padding-top: 10px;
  border-bottom: var(--gray) 1px solid;
  padding-bottom: 10px;
}

.sidebar-section li {
  margin-bottom: 5px;
}
.sidebar-section a {
  font-size: 18px;
  text-decoration: none;
  color: var(--highlight-text);
}
.sidebar-section a:hover {
  text-decoration: underline;
}

/* Forum */
.forum-container {
  padding: 20px;
}

.forum-content{
  width: 70%;
  flex: 1;
}

.like-dislike {
  display: flex;
  justify-content: flex-end;
}

.like-button, .dislike-button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  color: #333;
  font-size: 16px;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.like-button i, .dislike-button i {
  margin-right: 5px;
}

.like-button:hover {
  background-color: #007bff;
  color: white;
}

.dislike-button:hover {
  background-color: #dc3545;
  color: white;
}

.like-button:disabled, .dislike-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.like-button:disabled:hover, .dislike-button:disabled:hover {
  background-color: #ccc; /* Keeps disabled buttons from changing on hover */
  color: #666;
}

.like-dislike button span {
  margin-left: 5px;
}


.forum-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.comments-link {
  text-decoration: none;
  color: #007bff;
}

.forum-activity {
  margin-top: 10px;
}

.like-dislike {
  display: flex;
  gap: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
